HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project Configuration Files ###
src/main/resources/serviceAccountKey.json
src/main/resources/*.properties
*.env

### Firebase ###
ui-debug.log
firebase-debug.log
.firebase/

### H2 DB Config Files
/src/test/resources/*.sql

### Application Secrets ###
src/main/java/app/brecks/service/authorization/AuthorizationService.kt