:root {
    --cultured: #E9ECED;
    --timberwolf: #E3DDDA;
    --redwood: #AA574C;
    --brandy: #913F37;
    --old-rose: #BC8481;
    --pastel-pink: #E19E9A;
}

.email-section {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
    margin-top: 0;
    font-weight: 400;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
}

a {
    color: #004a80;
}

table {
    margin: auto;
    width: 100%;
    border: none;
    border-collapse: collapse;
}

td {
    padding: 0;
    text-align: center;
}

table .nested {
    margin: auto !important;
    width: 100%;

}

/*HERO*/
.hero {
    position: relative;
    z-index: 0;
    border: 2px solid var(--timberwolf);
    background: var(--cultured);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 5px;
    height: auto;
    padding: 15px 0;
}

.hero > * {
    margin: 0 auto;
    padding: 0 25px;
}

.hero .text {
    color: rgba(0, 0, 0, .3);
}

.hero .text h2 {
    color: #CBB677;
    font-size: 34px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
}

.hero .text h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
}

.hero .text h2 span {
    font-weight: 600;
    color: #000;
}

.text-author {
    border: 1px solid rgba(0, 0, 0, .05);
    max-width: 50%;
    margin: 0 auto;
    padding: 2em;
}

.text-author img {
    border-radius: 50%;
    padding-bottom: 20px;
}

.text-author h3 {
    margin-bottom: 0;
}

.email-container {
    margin: 0 auto;
    padding: 5vh 3vw;
}

#prerender {
    display: none;
    max-height: 0;
    overflow: hidden;
}

.logo {
    padding-top: 3vh;
    margin: auto;
    display: flex;
}

.logo > a {
    margin: 0 auto;
}

/*FOOTER*/

.footer {
    border-top: 1px solid rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}

.footer .text {
    text-align: center;
}

.footer > a {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
}

.footer .heading {
    color: #000;
    font-size: 20px;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 0;
    margin-top: -7px;
    font-weight: 400;
}

.footer ul li a {
    color: rgba(0, 0, 0, 1);
}


@media screen and (max-width: 500px) {


}